@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9741 0.0154 306.4150);
  --foreground: oklch(0 0 0);
  --card: oklch(0.9741 0.0154 306.4150);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9741 0.0154 306.4150);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.6676 0.2194 25.4220); 
   --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5220 0.2662 266.4416);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9551 0 0);
  --muted-foreground: oklch(0.4676 0 0);
  --accent: oklch(0.5220 0.2662 266.4416);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0 0 0);
  --input: oklch(0.9741 0.0154 306.4150);
  --ring: oklch(0 0 0);
  --chart-1: oklch(0.5771 0.2152 27.3250);
  --chart-2: oklch(0.6304 0.1800 259.9560);
  --chart-3: oklch(0.8075 0.1537 75.1984);
  --chart-4: oklch(0.4676 0 0);
  --chart-5: oklch(0.6475 0.1603 148.4955);
  --sidebar: oklch(0.9741 0.0154 306.4150);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.5771 0.2152 27.3250);
  --sidebar-primary-foreground: oklch(0.6676 0.2194 25.4220);
  --sidebar-accent: oklch(0.8868 0.1822 95.3305);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0 0 0);
  --sidebar-ring: oklch(0 0 0);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Abhaya Libre, ui-serif, serif;
  --font-mono: Anonymous Pro, ui-monospace, monospace;
  --radius: 1rem;
  --shadow-2xs: 2.5px 2.5px 0px 0px hsl(0 0% 0% / 0.50);
  --shadow-xs: 2.5px 2.5px 0px 0px hsl(0 0% 0% / 0.50);
  --shadow-sm: 2.5px 2.5px 0px 0px hsl(0 0% 0% / 1.00), 2.5px 1px 2px -1px hsl(0 0% 0% / 1.00);
  --shadow: 2.5px 2.5px 0px 0px hsl(0 0% 0% / 1.00), 2.5px 1px 2px -1px hsl(0 0% 0% / 1.00);
  --shadow-md: 2.5px 2.5px 0px 0px hsl(0 0% 0% / 1.00), 2.5px 2px 4px -1px hsl(0 0% 0% / 1.00);
  --shadow-lg: 2.5px 2.5px 0px 0px hsl(0 0% 0% / 1.00), 2.5px 4px 6px -1px hsl(0 0% 0% / 1.00);
  --shadow-xl: 2.5px 2.5px 0px 0px hsl(0 0% 0% / 1.00), 2.5px 8px 10px -1px hsl(0 0% 0% / 1.00);
  --shadow-2xl: 2.5px 2.5px 0px 0px hsl(0 0% 0% / 2.50);
  --tracking-normal: 0.05em;
  --spacing: 0.25rem;
  --shadow-color: #000000;
  --shadow-opacity: 1;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 2.5px;
  --shadow-offset-y: 2.5px;
  --letter-spacing: 0.05em;
}

.dark {
  --background: oklch(0.2178 0 0);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.2178 0 0);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.2178 0 0);
  --popover-foreground: oklch(1.0000 0 0);
    --primary: oklch(0.6646 0.2222 25.6509);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.2178 0 0);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.2891 0 0);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.9285 0.1803 102.4974);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6646 0.2222 25.6509);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(1.0000 0 0);
  --input: oklch(0.2178 0 0);
  --ring: oklch(1.0000 0 0);
  --chart-1: oklch(0.6646 0.2222 25.6509);
  --chart-2: oklch(0.6957 0.1269 258.0349);
  --chart-3: oklch(0.8442 0.1722 84.9338);
  --chart-4: oklch(0.7058 0 0);
  --chart-5: oklch(0.6731 0.1624 144.2083);
  --sidebar: oklch(0.2178 0 0);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.6646 0.2222 25.6509);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.9285 0.1803 102.4974);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(1.0000 0 0);
  --sidebar-ring: oklch(1.0000 0 0);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Abhaya Libre, ui-serif, serif;
  --font-mono: Anonymous Pro, ui-monospace, monospace;
  --radius: 1rem;
  --shadow-2xs: 2.5px 2.5px 0px 0px hsl(0 0% 100% / 0.30);
  --shadow-xs: 2.5px 2.5px 0px 0px hsl(0 0% 100% / 0.30);
  --shadow-sm: 2.5px 2.5px 0px 0px hsl(0 0% 100% / 0.60), 2.5px 1px 2px -1px hsl(0 0% 100% / 0.60);
  --shadow: 2.5px 2.5px 0px 0px hsl(0 0% 100% / 0.60), 2.5px 1px 2px -1px hsl(0 0% 100% / 0.60);
  --shadow-md: 2.5px 2.5px 0px 0px hsl(0 0% 100% / 0.60), 2.5px 2px 4px -1px hsl(0 0% 100% / 0.60);
  --shadow-lg: 2.5px 2.5px 0px 0px hsl(0 0% 100% / 0.60), 2.5px 4px 6px -1px hsl(0 0% 100% / 0.60);
  --shadow-xl: 2.5px 2.5px 0px 0px hsl(0 0% 100% / 0.60), 2.5px 8px 10px -1px hsl(0 0% 100% / 0.60);
  --shadow-2xl: 2.5px 2.5px 0px 0px hsl(0 0% 100% / 1.50);
  --shadow-color: #FFFFFF;
  --shadow-opacity: 0.6;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 2.5px;
  --shadow-offset-y: 2.5px;
  --letter-spacing: 0.05em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Anonymous Pro, ui-monospace, monospace;
  --font-serif: Abhaya Libre, ui-serif, serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --radius: 1rem;
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}